// navMain
nav(class='navMain')
  a(class='ui-linkSecondary' href='javascript:void(0);' title='поиск')
    span(class='visually-hidden') поиск
    span(class='icon')
      svg(focusable='false' aria-hidden='true')
        use(href='#icon-search')
  a(class='ui-linkSecondary' href='javascript:void(0);' title='избранное')
    span(class='visually-hidden') избранное
    span(class='icon')
      svg(focusable='false' aria-hidden='true')
        use(href='#icon-heart')
      span(class='badge') 99
      span(class='visually-hidden') шт.
  a(class='ui-linkSecondary' href='javascript:void(0);' title='корзина')
    span(class='visually-hidden') корзина
    span(class='icon')
      svg(focusable='false' aria-hidden='true')
        use(href='#icon-bag')
      span(class='badge') 999
      span(class='visually-hidden') шт.
  a(class='ui-linkSecondary' href='javascript:void(0);' title='профиль')
    span(class='visually-hidden') профиль
    span(class='icon')
      svg(focusable='false' aria-hidden='true')
        use(href='#icon-men')
// end navMain
