// menu
div(class='menu js-menu')
  // btnMenu
  button(class='ui-btnMenu' aria-expanded='false' data-nav='open')
    span
    span
    span(class='visually-hidden') меню
  // end btnMenu
  div(class='menuMenu' data-nav='menu')
    include ../navMenu/navMenu.pug
// end menu 