// logo-link 
a(class='ui-logo' href='javascript:void(0);' title='Главная страница')
  span(class='visually-hidden') ссылка на главную страницу.
  include ../../../images/logo/logo-text.svg
// end logo-link
