// socialLinks
ul(class='socialLinks')
  li(class='item')
    a(href='javascript:void(0);' title='вконтакте')
      span(class='visually-hidden') вконтакте
      svg(focusable='false' aria-hidden='true')
        use(href='#icon-vk')
  li(class='item')
    a(href='javascript:void(0);' title='facebook')
      span(class='visually-hidden') facebook
      svg(focusable='false' aria-hidden='true')
        use(href='#icon-fb')
  li(class='item')
    a(href='javascript:void(0);' title='instagram')
      span(class='visually-hidden') instagram
      svg(focusable='false' aria-hidden='true')
        use(href='#icon-inst')
// end socialLinks