// btnLike
button(class='ui-btnLike')
  span(class='visually-hidden') добавить в избранное.
  span(class='icon')
    svg(focusable='false' aria-hidden='true')
      use(href='#icon-heart-fill')
// end btnLike