/* --- style ui-btn --- */
.ui-btn {
  padding: var(--md-space, 16px) calc(var(--md-space, 16px) * 2);
  border: none;
  background-color: var(--bs-primary, #21242e);
  border-radius: 4px;
  font-size: var(--fs-5, 16px);
  line-height: var(--lh-5);
  transition-duration: 0.4s;
  transition-property: background-color;
  transition-timing-function: ease-out;
}

.ui-btn,
.ui-btn:focus {
  background-color: var(--bs-primary, #21242e);
  color: var(--bs-white, #fff);
}

.ui-btn:hover {
  background-color: var(--bs-secondary, #d0bc7a);
}

/* hover style for uikit page */
.ui-btn.hover {
  background-color: var(--bs-secondary, #d0bc7a);
}

/* --- end style ui-btn --- */
