// navPoduct
ul(class="navProduct")
  li(class="item")
    a(class="ui-linkPrimary" href="javascript:void(0);" title='пигменты') 
      | пигменты
      span(class='icon')
        svg(focusable='false' aria-hidden='true')
          use(href='#icon-arrow')
  li(class="item")
    a(class="ui-linkPrimary" href="javascript:void(0);" title='товары для пм') 
      | товары для пм
      span(class='icon')
        svg(focusable='false' aria-hidden='true')
          use(href='#icon-arrow')
  li(class="item")
    a(class="ui-linkPrimary" href="javascript:void(0);" title='ремувер') ремувер
  li(class="item")
    a(class="ui-linkPrimary" href="javascript:void(0);" title='акции') акции
  li(class="item")
    a(class="ui-linkPrimary" href="javascript:void(0);" title='обучение') обучение
// end navPoduct