// navAccaunt
nav(class='navAccaunt')
  a(class='ui-linkPrimary active' aria-current='page' href='javascript:void(0);' title='профиль') профиль
  a(class='ui-linkPrimary' href='javascript:void(0);' title='мои заказы') мои заказы
  a(class='ui-linkPrimary' href='javascript:void(0);' title='выход') выход
// end navAccaunt
