// footer
footer(class='footer container-fluid')
  include ../navMenu/navMenu.pug
  div(class='h-dividing-line' aria-hidden='true')
  div(class='box container-xl')
    include ../socialLinks/socialLinks.pug
    a(class='ui-link text-faded' href='javascript:void(0);' target='_blank' rel='nofollow' title='cedro') © Cedro — все права защищены, 2020
    address
      a(class='ui-link text-faded' href='javascript:void(0);' target='_blank' rel='nofollow' title='cedro') 
        span(class='link-text') Сделано в Cedro
        span(class='icon' aria-hidden='true')
          include ../../images/logo/logo-icon.svg
  div(class='h-dividing-line' aria-hidden='true')
  div(class='box container-xl')
    p(class='text-faded'). 
      Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер 
      и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации. 
      Для получения подробной информации о наличии и актуальной стоимости указанных на сайте услуг обращайтесь, пожалуйста, по телефонам клиник.
// end footer