/* --- style footer --- */
.footer {
  padding: 0;
  padding-bottom: var(--xl-space, 32px);
  background-color: var(--bs-dark, #21242e);
  color: var(--bs-white, #fff);
}

.footer .navMenu {
  margin-top: var(--xl-space, 32px);
  margin-bottom: var(--xl-space, 32px);
}

.footer .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: var(--xl-space, 32px);
  margin-bottom: var(--xl-space, 32px);
}

.footer .box > * {
  margin-top: var(--xs-space, 8px);
  margin-bottom: var(--xs-space, 8px);
}

.footer .ui-link .icon {
  padding-right: 2px;
  padding-left: 2px;
}

.footer .h-dividing-line {
  width: calc(100% - var(--bs-gutter-x, 16px) * 2);
  margin: 0 auto;
  color: currentcolor;
  opacity: 0.16;
}

@media (min-width: 992px) {
  .footer {
    padding-bottom: 0;
  }

  .footer .box {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--lg-space, 24px);
    margin-bottom: var(--lg-space, 24px);
  }

  .footer .h-dividing-line {
    width: 100%;
    margin: 0;
  }
}

/* --- end style footer --- */
