/* --- style ui-inputPassword --- */
.ui-inputPassword {
  position: relative;
  display: flex;
  align-items: center;
}

.ui-inputPassword .ui-btnEye {
  position: absolute;
  right: var(--md-space);
}

/* .btn-eye width = 24px */
.ui-inputPassword input {
  width: 100%;
  padding-right: calc(var(--md-space) * 2 + 24px);
}

/* --- end style ui-inputPassword --- */
